@font-face {
  font-family: 'FiraCode';
  src: url(https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Regular/FiraCodeNerdFont-Regular.ttf);
}
body {
  background-color: #333;
  text-align: center;
}
.menu-container {
  width: 300px;
  margin: 100px auto;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-option {
  margin: 10px 0;
}
.menu-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.menu-button:hover {
  background-color: #0056b3;
}

.instructions {
  color: #aaaaaa;
}

.hidden {
  display: none;
}