@import url("/fontawesome/scss/fontawesome.scss");
@import url("/fontawesome/scss/solid.scss");

$primary-bg: #333;
$secondary-bg: #222;
$primary-color: #007bff;
$primary-color-dark: #0056b3;
$menu-padding: 5%; /* Relative to the container */
$border-radius: 10px;
$button-padding: 1em 2em; /* Relative to the font size */
$button-border-radius: 5px;

body {
  background-color: $primary-bg;
  text-align: center;
}

.menu-container {
  background-color: $secondary-bg;
  padding: $menu-padding;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .menu-option {
    margin: 2%; /* Relative to the container */
  }

  .menu-button {
    padding: $button-padding;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: $button-border-radius;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-dark;
    }
  }
}

.instructions {
  color: #aaaaaa;
}

.hidden {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%; /* Relative to the screen size */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: $primary-bg;
    color: #fff;
    margin: auto;
    padding: 2%; /* Relative to the font size */
    border: 1px solid #888;
    width: 80%;

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 2em; /* Relative to the font size */
      font-weight: bold;

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }

    ul {
      list-style-position: inside;
      text-align: center;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}

#game {
  flex-direction: column;
  align-items: center;
  text-align: center;

  #game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%; /* Relative to the font size */
    background-color: $secondary-bg;

    .left {
      display: flex;
      align-items: center;
    }

    .icons {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 1em; /* Relative to the font size */
        cursor: pointer;
        color: $primary-color;
        font-size: 1.5em; /* Relative to the font size */
      }
    }

    p {
      margin: 0;
      font-size: 1em; /* Relative to the font size */
    }

    .right {
      float: right;
      position: relative;
    }

    .info-stats {
      font-family: "Courier New", Courier, monospace;
      color: #b2d8d8;
    }
  }

  #game-canvas {
    margin: 2%; /* Relative to the container */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
// Detecting if its mobile via UserAgent
.button-container {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 0;

  .controls {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .mv-control {
      border: 1px solid black;
    }

    #mobile-move-up {
      grid-area: 1 / 2 / 2 / 3;
    }
    #mobile-move-down {
      grid-area: 3 / 2 / 4 / 3;
    }
    #mobile-move-left {
      grid-area: 2 / 1 / 3 / 2;
    }

    #mobile-move-right {
      grid-area: 2 / 3 / 3 / 4;
    }
    #mobile-paint-control {
      grid-area: 3 /3 /4 /4;
    }
  }
}
